*{
    margin:0;
    padding:0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color: #6c0808dc;
    color: black;
}

#header {
    width:100%;
    height: 50vh;
    background-image: url(assets/images/htmlHeader.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.logo{
    width: 175px;
    height: 150px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
}

nav ul li a {
    color: #b1a907;
    text-decoration: none;
    padding: 8px 12px;
    font-size: larger;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #6c0808dc;
    position: absolute;
    left: 0;
    bottom: -6px;
    
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}
.header-text{
    color:#b1a907;
    margin-top: 20px;
}

#about{
    padding: 80px 0;
    color: #b1a907;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
   
}
.about-col-1 img {
    width: 100%;
    border-radius: 10px;
}

.about-col-2{
    flex-basis: 60%;
    padding-left: 50px;

}

.headline{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-title{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #b1a907;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.tab-links.active-link::after{
    width: 50%;
    
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#b1a907;
    font-size:14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*resume*/


#resume{
    padding: 80px 0;
    color: White;
    text-align: center;
    
}

.resume-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.resume-list div{
    background: #b1a907;
    padding: 40px;
    font-size: 13px;
    font-weight: 500;
    transition: background 0.5s, transform 0.5s;
    border-radius: 10px;
    

}

.resume-list div i{
    font-size: 50px;
    margin-bottom: 30px;         
}

.resume-list div h2{
    font-size: 30px;
    font-weight:500;
    margin-bottom: 20px;
}

.resume-list div p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.resume-list div a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.resume-list div:hover{
    background: #6c0808dc;
    color: #b1a907;
    transform: translateY(-5px);
    
}

#portfolio{
    padding: 80px 0;
    color: White;
    text-align: center;
}
.portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects{
    position: relative;
    overflow: hidden;
    
    
}
.projects h1{
    color: white;
}
 
.projects img{
    width: auto;
    display: -webkit-inline-box; 
    margin-bottom: 20px;
     
}

.cards {
    font-weight: 500;
    margin-bottom: 20px;
    color:#b1a907;
    
}

.projects p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color:white;
}

.projects a{
    margin-top: 20px;
    color: #b1a907;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    
}

.projects a:hover{
    color: #6c0808dc;
}

.contact-left{
    flex-basis: 35%;
    
}

.contact-right{
    flex-basis: 60%;
    
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #b1a907;
    margin-right: 10px;
    font-size: 25px;
}

.social-media{
    margin-top: 30px;

}
.social-media a{
    color: #b1a907;
    margin-right: 10px;
    font-size: 25px;
    display: inline-block;
    transition: color 0.5s, transform 0.5s;
}

.social-media a:hover{
    color: #9c4141;
    transform: translateY(-5px);
}

.button a{
    display: inline-block;
    color:#b1a907;
    background-color: #9c4141;
    border-color: #9c4141;
    font-size: 24px;
   
}

.button{
    margin-top: 30px;
    border-color:#9c4141;
    border: 0;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #b1a907;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    color: #6c0808dc
}

form button{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    color:#b1a907;
    background: none;
    margin-left : 200px;
    
}

form button:hover{
    background: #b1a907;
    color: #6c0808dc;
}

.copyright{
    text-align: center;
    padding: 20px 0;
    color: #b1a907;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 600px){
    #header{
        background-image: url('/assets/images/Andrea\ Jared.png');
    }
}
    




